<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
    <p>War. is a simulation game based off of World War I. This game pits country against country in a struggle for power across a vast region. Alliances, negotiations, and distribution of the spoils of victory are all essential to staying alive in the game. But beware...not even alliances are safe from sabotage.</p>
    
    <div style="display: flex; flex-direction: row">
        <img src="/images/jcut.JPG" style="flex: 1; width: 100%">
        <p style="flex: 1">This game was designed by the late Jamie Moore, a professor of history at The Citadel in South Carolina. Ms. Cutler has run this game for 10th grade history students for the last few years.</p>
    </div>
    
    <div style="display: flex">
        <img src="/images/miranda2.JPG" style="flex: 1; width: 100%">
        <div style="flex: 1">
            <p>Meet the Web Dev</p>
            <p>This game was moved online in order to try and streamline the game process and rules. This effort was my culminating project for my enrollment in the 2023–2024 FullStack class. I've worked closely with the history department on several occasions, including to run the game for this year's 10th graders, and so this project felt like a natural choice.</p>
        </div>
    </div>
    
    
    
    
   
    
   
    
    
</body>
</html>