<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WW1 Game</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
</head>
<body>
    
    

   
    <div id="container" style="display: flex">
        <div style="width: 25vw"></div>
        <div id="headerLinks">
          <form action="/about" method="GET">
              <button style="color: grey; border: none; font-family: Lemon Milk; font-size: 1rem; background-color: transparent">about</button>
          </form>
          <p style="font-size: 25px; font-weight: 700; margin-top:22px; color: #b30000; height: 100%; margin-left: 19px"><a  onclick="homefunc()"><img src="/images/logo.svg" style="height: 100%"></a></p>
          <form action="/profile" method="GET">
              <button style="color: grey; border: none; font-family: Lemon Milk; font-size: 1rem; background-color: transparent">profiles</button>
          </form>
    </div>
        <div style="width: 25vw; height: 98px; display: flex; align-items: center">
            <div class="menu-container">
        <div class="menu-icon" onclick="toggleDropdown()">
            <svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#354860"><path d="M3 5H21" stroke="#354860" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M3 12H21" stroke="#354860" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M3 19H21" stroke="#354860" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
        </div>
        <div class="dropdown-menu" id="dropdownMenu">
            <a href="/reset">hard reset<svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#354860"><path d="M6.67742 20.5673C2.53141 18.0212 0.758026 12.7584 2.71678 8.1439C4.87472 3.0601 10.7453 0.68822 15.8291 2.84617C20.9129 5.00412 23.2848 10.8747 21.1269 15.9585C20.2837 17.945 18.8736 19.5174 17.1651 20.5673" stroke="#354860" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M17 16V20.4C17 20.7314 17.2686 21 17.6 21H22" stroke="#354860" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M12 22.01L12.01 21.9989" stroke="#354860" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></a>
            <a href="/login">log out<svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#354860"><path d="M12 12H19M19 12L16 15M19 12L16 9" stroke="#354860" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M19 6V5C19 3.89543 18.1046 3 17 3H7C5.89543 3 5 3.89543 5 5V19C5 20.1046 5.89543 21 7 21H17C18.1046 21 19 20.1046 19 19V18" stroke="#354860" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></a>
        </div>
    </div>
        </div>
    </div>
    
    <img src="images/bismania.png">
    
    <div id="topSpaceFill"></div>
    <div id="mainStartDiv">
        <form id="startForm" action="/startGame" method="GET">
            <button type="submit" id="STARTbutton">START GAME</button>
        </form>
    </div>
    <!--<div class="dividingBar"></div>-->
    <div id="extraContent">
        <img id="frontSoldierImg" src="/images/soldier.webp" onclick="func()">
        <div id="textContent">
            <h1>The War Game</h1>
            <p style="font-family: Kumbh Sans"><span style="color: #b30000; font-family: Lemon Milk;">War.</span> is a simulation game based off of World War I. This game pits country against country in a struggle for power across a vast region. Alliances, negotiations, and distribution of the spoils of victory are all essential to staying alive in the game. But beware...not even alliances are safe from sabotage.</p>
        </div>
    </div>
<!--
    <form action="/reset" method="GET">
        <button>RESET</button>
    </form>
    <form action="/finishFake" method="GET">
        <button>FINISH</button>
    </form>
    <form action="/login" method="GET">
        <button>LOGIN</button>
    </form>
    <form action="/register" method="GET">
        <button>REGISTER</button>
    </form>
-->
    
    
    
    
    <div id="footerDiv">
        <p>World War I Game © 2024 M. Felsmann</p>
    </div>
    <script src="/script.js"></script>
</body>
</html>

