<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WW1 Game</title>
    <link rel="stylesheet" href="/startstyles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div id="headerLinks">
          <form action="/about" method="GET">
              <button style="color: grey; border: none; font-family: Lemon Milk; font-size: 1rem; background-color: transparent">about</button>
          </form>
          <p style="font-size: 25px; font-weight: 700; margin-top:22px; color: #b30000; height: 100%; margin-left: 19px"><a  onclick="homefunc()"><img src="/images/logo.svg" style="height: 100%"></a></p>
          <form action="/profile" method="GET">
              <button style="color: grey; border: none; font-family: Lemon Milk; font-size: 1rem; background-color: transparent">profiles</button>
          </form>
    </div>
    <div id="topSpaceFill"></div>
    <div id="versusDiv">
        <div id="ATWEENA">
            ATWEENA
        </div>
        <div id="versus">
            v.
        </div>
        <div id="NUROVIA">
            NUROVIA
        </div>
    </div>
    <div id="mainContentDiv">
        <div id="leftCol">
            <div id="colHeader">
                <h2 style="margin-top: 0px;">Our Crisis</h2>
            </div>
            <div id="colContent">
                <p style="font-size: 1.2rem">A state of war exists between Nurovia and Atweena. Neither side is to be considered the aggressor; there is no right or wrong attached to either; all possibilities of peace have been thoroughly exhausted. The peace and security of all nations is threatened.</p>
                <p style="font-size: 1.2rem">Atweena will conquer Nurovia unless the latter is able to successfully bring other nations into war on her side. Therefore, Atweena is forced to seek allies because Nurovia is.</p>
                <p style="font-size: 1.2rem">Every nation is faced with the decision to enter the war or remain neutral. Neutrality does not mean you cannot lose territory or other assets in the end. Each side must figure out who to seek out for an alliance and what kind of bargain in the form of treaties to make for joining one side or another.</p>
                <p style="margin-bottom: 0px; font-size: 1.2rem">On the next page, you will be asked to choose whether to remain neutral or join the war. <span style="color: #b30000">Choose carefully...</span></p>
            </div>
        </div>
        <div id="rightCol" >
            <table id="statsTable">
                <thead>
                    <tr>
                        <th>Nation</th>
                        <th>Army</th>
                        <th>Navy</th>
                        <th>Morale</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Andros</td>
                        <td>700</td>
                        <td>600</td>
                        <td>240</td>
                        <td>1540</td>
                    </tr>
                    <tr>
                        <td>Atweena</td>
                        <td>1000</td>
                        <td>0</td>
                        <td>240</td>
                        <td>1240</td>
                    </tr>
                    <tr>
                        <td>Bismania</td>
                        <td>800</td>
                        <td>700</td>
                        <td>240</td>
                        <td>1740</td>
                    </tr>
                    <tr>
                        <td>Bontus</td>
                        <td>460</td>
                        <td>400</td>
                        <td>240</td>
                        <td>1100</td>
                    </tr>
                    <tr>
                        <td>Egrama</td>
                        <td>520</td>
                        <td>400</td>
                        <td>240</td>
                        <td>1160</td>
                    </tr>
                    <tr>
                        <td>Galbion</td>
                        <td>500</td>
                        <td>1000</td>
                        <td>240</td>
                        <td>1740</td>
                    </tr>
                    <tr>
                        <td>Nurovia</td>
                        <td>500</td>
                        <td>500</td>
                        <td>240</td>
                        <td>1240</td>
                    </tr>
                    <!-- Add more rows as needed -->
                </tbody>
            </table>
            <div style="display: flex; flex-direction: row; justify-content: space-between; column-gap: 20px">
                <a style="text-decoration: none" class="button" href="javascript:history.go(-1)">&larr;</a>
                <form action="/combatants" method="post">
<!--
                    <label for="option1" style="display: none"></label>
                    <input type="text" id="option1" name="option1" value="Atweena" required style="display: none">
                    <label for="option2" style="display: none"></label>
                    <input type="text" id="option2" name="option2" value="Nurovia" required style="display: none">
-->
                    <button class="button" type="submit">&rarr;</button>
                </form>
            </div>
            
        </div>
    </div>
    <div style="display: flex; flex-grow: 1;"></div>
    
    <script src="/script.js"></script>
    
</body>
    <footer id="footerDiv">
        <p>World War I Game © 2024 M. Felsmann</p>
    </footer>
</html>

